@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700,800&display=swap&subset=latin-ext");
* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
}

.o-container {
  width: 1352px;
  margin: 0 auto;
}
@media (max-width: 1352px) {
  .o-container {
    width: 100%;
    padding: 0 15px;
  }
}

.o-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: none;
  border-radius: 35px;
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 16px 65px;
}
.btn--main {
  border-radius: 35px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}
.btn--icon {
  padding: 26px 157px;
  background: linear-gradient(#04e9e9, #08A6E4);
}
.btn--icon:hover {
  background: linear-gradient(#08A6E4, #04e9e9);
}

.c-logo {
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.t-advantages {
  background-color: #F7F7F7;
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .t-advantages {
    padding: 50px 0;
  }
}
.t-advantages__possessor {
  padding: 0 100px;
}
@media (max-width: 1024px) {
  .t-advantages__possessor {
    padding: 0 15px;
  }
}
.t-advantages__aside {
  align-items: flex-end;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .t-advantages__aside {
    align-items: center;
    flex-direction: column-reverse !important;
    padding: 0 20px !important;
  }
}
.t-advantages__aside--device {
  --accent-color: #FB3B64;
}
.t-advantages__aside--device .t-advantages__picture {
  margin-bottom: 38px;
  margin-right: 117px;
}
@media (max-width: 1024px) {
  .t-advantages__aside--device .t-advantages__picture {
    margin: 40px 0 0;
  }
}
.t-advantages__aside--device .t-advantages__picture::before {
  content: "";
  background-color: var(--accent-color);
  border-radius: 40px;
  display: block;
  height: 180px;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  top: -40px;
  width: 180px;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transform: rotate(45deg);
  transition-delay: 0.04s;
}
@media (max-width: 1024px) {
  .t-advantages__aside--device .t-advantages__picture::before {
    height: 90px;
    right: -10px;
    top: -30px;
    width: 90px;
  }
}
.t-advantages__aside--device .t-advantages__picture:hover::before {
  left: 0px;
  top: -35px;
  transform: scale(1.1, 1.1);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transition-delay: 0.04s;
}
.t-advantages__aside--device .t-advantages__picture--img {
  background-image: url("../../assets/Macbook.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 218px;
  width: 386px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .t-advantages__aside--device .t-advantages__picture--img {
    height: 109px;
    width: 192px;
  }
}
.t-advantages__aside--mobile {
  --accent-color: #08A6E4;
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}
@media (max-width: 1024px) {
  .t-advantages__aside--mobile .t-advantages__picture {
    margin-top: 30px;
  }
}
.t-advantages__aside--mobile .t-advantages__picture::before {
  content: "";
  background: var(--accent-color);
  border-radius: 50%;
  display: block;
  height: 320px;
  left: 0;
  position: absolute;
  top: -20px;
  width: 320px;
}
@media (max-width: 1024px) {
  .t-advantages__aside--mobile .t-advantages__picture::before {
    height: 131px;
    top: -15px;
    width: 131px;
  }
}
.t-advantages__aside--mobile .t-advantages__picture--img {
  background-image: url("../../assets/iPhone.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 328px;
  width: 426px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .t-advantages__aside--mobile .t-advantages__picture--img {
    height: 135px;
    width: 175px;
  }
}
.t-advantages__aside--trumpet {
  --accent-color: #55DFB4;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .t-advantages__aside--trumpet {
    flex-direction: column;
  }
}
.t-advantages__aside--trumpet > div {
  margin-bottom: 0;
}
.t-advantages__aside--trumpet .t-advantages__content {
  max-height: 370px;
  max-width: 620px;
}
@media (max-width: 1024px) {
  .t-advantages__aside--trumpet .t-advantages__content {
    max-width: none;
  }
}
.t-advantages__aside--trumpet .t-advantages__content .t-advantages__text {
  max-width: none;
}
.t-advantages__aside--trumpet .t-advantages__picture {
  align-items: center;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  height: 370px;
  width: 440px;
}
@media (max-width: 1024px) {
  .t-advantages__aside--trumpet .t-advantages__picture {
    height: 195px;
    margin-left: 0;
    vertical-align: middle;
    width: auto;
  }
}
.t-advantages__aside--trumpet .t-advantages__picture--img {
  background-image: url("../../assets/Trumpet.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 207px;
  width: 295px;
  position: relative;
}
@media (max-width: 1024px) {
  .t-advantages__aside--trumpet .t-advantages__picture--img {
    margin-top: 55px;
  }
}
.t-advantages__text {
  box-sizing: content-box;
  max-width: 416px;
  margin: 91px 36px;
}
@media (max-width: 1024px) {
  .t-advantages__text {
    margin: 0;
    max-width: none;
  }
}
.t-advantages__text .t-advantages__title {
  margin-bottom: 30px;
}
.t-advantages__text .t-advantages__variety {
  line-height: 1.375;
}
.t-advantages__text .t-advantages__variety--line {
  background-color: var(--accent-color);
  height: 4px;
  margin-top: 30px;
  transition-duration: 1.5s;
  transition-delay: 0.4s;
  transition-timing-function: ease-in-out;
  width: 80px;
}
@media (max-width: 1024px) {
  .t-advantages__text .t-advantages__variety--line {
    display: none;
  }
}
.t-advantages__text .t-advantages__variety--line:hover {
  background-color: var(--accent-color);
  width: 80%;
}
@media (max-width: 1024px) {
  .t-advantages__text {
    margin: 30px 0;
  }
}
.t-advantages .t-advantages__picture {
  position: relative;
  z-index: 2;
}

.t-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.t-banner__content {
  margin-top: 50px;
  padding-top: 50px;
}
@media (max-width: 792px) {
  .t-banner__content {
    margin-top: 50px;
    padding-top: 50px;
  }
}
.t-banner__title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin: 10px;
  padding: 10px;
}
.t-banner__text {
  margin: 9px;
  padding: 9px;
}
@media (max-width: 792px) {
  .t-banner__text {
    padding-left: 70px;
    padding-right: 70px;
  }
}
.t-banner .t-banner__image {
  background-image: url("../../assets/Background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 450px;
  width: 100%;
}
@media (max-width: 792px) {
  .t-banner .t-banner__image {
    height: 267px;
    width: 220%;
    transform: translateX(-27%);
  }
}
@media (max-width: 792px) {
  .t-banner .btn {
    display: block;
    margin: 15px;
    padding: 16px;
  }
}

.t-collection {
  margin-top: 6px;
  padding-top: 8px;
}
@media (max-width: 792px) {
  .t-collection {
    margin-top: 5px;
    padding-top: 5px;
  }
}
.t-collection__title {
  margin: 20px 0;
  padding: 20px 0;
}
.t-collection__possessor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 120px;
  max-width: 800px;
}
@media (max-width: 792px) {
  .t-collection__possessor {
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 35px;
  }
}
.t-collection__aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: flex-start;
  max-width: 160px;
}
@media (max-width: 792px) {
  .t-collection__aside {
    margin-bottom: 35px;
  }
  .t-collection__aside:last-child {
    margin-bottom: 0;
  }
}
.t-collection__aside:nth-child(1) .t-collection__vessel {
  background-color: #FB3B64;
}
.t-collection__aside:nth-child(1) .t-collection__img {
  background-image: url("../../assets/Person.svg");
  background-repeat: no-repeat;
  height: 52px;
  left: 50%;
  top: 0;
  transition: 0.5s;
  width: 52px;
}
.t-collection__aside:nth-child(1) .t-collection__img:hover {
  left: 16%;
}
.t-collection__aside:nth-child(2) .t-collection__vessel {
  background-color: #08A6E4;
}
.t-collection__aside:nth-child(2) .t-collection__img {
  background-image: url("../../assets/Eye.svg");
  background-repeat: no-repeat;
  height: 44px;
  left: 45%;
  top: 14px;
  transition: 0.5s;
  width: 67px;
}
.t-collection__aside:nth-child(2) .t-collection__img:hover {
  left: 0;
}
.t-collection__aside:nth-child(3) .t-collection__vessel {
  background-color: #55DFB4;
}
.t-collection__aside:nth-child(3) .t-collection__img {
  background-image: url("../../assets/Catalog.svg");
  background-repeat: no-repeat;
  height: 52px;
  left: 50%;
  top: 6px;
  transition: 0.5s;
  width: 52px;
}
.t-collection__aside:nth-child(3) .t-collection__img:hover {
  left: 8%;
}
.t-collection__vessel {
  border-radius: 50%;
  height: 63px;
  position: relative;
  width: 63px;
}
.t-collection__img {
  position: absolute;
}
.t-collection__quantity {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top: 13px;
}
.t-collection__variety {
  color: #A5A5A5;
  margin-top: 19px;
}

.t-header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 70px;
}
.t-header__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
}
.t-header .t-nav__element {
  padding: 0 26px;
}
.t-header .t-nav__element:last-child {
  padding-right: 0;
}
.t-header .t-nav__link {
  border-bottom: 4px solid transparent;
  color: #A5A5A5;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 3.28px;
  padding: 28px 18px 22px;
  text-transform: uppercase;
}
.t-header .t-nav__link:hover {
  border-bottom-color: #08A6E4;
  color: #000000;
}
.t-header__nav {
  display: flex;
}
@media (max-width: 792px) {
  .t-header__nav {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: none;
    flex-direction: column;
    left: 0;
    padding-bottom: 20px;
    position: absolute;
    top: 95px;
    width: 100%;
  }
  .t-header__nav .t-nav__element {
    padding: 0;
  }
  .t-header__nav .t-nav__link {
    display: block;
    padding: 14px 20px;
  }
}
.t-header .t-menu__btn {
  display: none;
  opacity: 0;
  position: absolute;
}
@media (max-width: 792px) {
  .t-header .t-menu__btn:checked ~ .t-header__nav {
    display: flex;
  }
  .t-header .t-menu__btn:checked ~ .t-menu__toggle {
    transform: rotate(90deg);
  }
  .t-header .t-menu__btn:checked ~ .t-menu__toggle .t-menu__line:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
    transform-origin: right;
    width: 35px;
  }
  .t-header .t-menu__btn:checked ~ .t-menu__toggle .t-menu__line:nth-child(2) {
    opacity: 0;
    transition: none;
    transition-delay: 0.3s;
  }
  .t-header .t-menu__btn:checked ~ .t-menu__toggle .t-menu__line:nth-child(3) {
    transform-origin: right;
    transform: translateY(-15px) rotate(-45deg);
    width: 35px;
  }
}
.t-header .t-menu__toggle {
  display: none;
}
.t-header .t-menu__toggle .t-menu__line {
  background-color: #08A6E4;
  display: block;
  height: 5px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  width: 50px;
}
.t-header .t-menu__toggle .t-menu__line:last-child {
  margin-bottom: 0;
}
.t-header .t-menu__toggle .t-menu__line .t-menu__line :hover {
  cursor: pointer;
}
@media (max-width: 792px) {
  .t-header .t-menu__toggle {
    display: block;
  }
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}
/*# sourceMappingURL=main.css.map */
