.c-form {
 display: flex;
 flex-direction: column;

 @include tablet {
  margin-top: 20px;
 }

 &__field {
  display: flex;
  flex-direction: column;

  &:first-of-type {
   margin-bottom: 42px;
  }
 }

 &__label {
  color: $color-blue;
  font-size: $font-size-10;
  font-weight: 700;
  letter-spacing: $letter-spacing-primary;
  text-transform: uppercase;
 }

 &__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-grey;
  line-height: $line-height-mid;
 }

 &__agreement {
  margin-top: 30px;
 }
}