.c-form {
 display: flex;
 flex-direction: column;

 @include tablet {
  margin-top: 20px;
 }

 &__field {
  display: flex;
  flex-direction: column;

  &:first-of-type {
   margin-bottom: 42px;
  }
 }

 &__label {
  color: $color-blue;
  font-size: $font-size-10;
  font-weight: 700;
  letter-spacing: $letter-spacing-primary;
  text-transform: uppercase;
 }

 &__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-grey;
  line-height: $line-height-mid;
 }

 &__checkbox {
  margin-top: 30px;

  &--agreement {
   display: flex;
   margin-bottom: 12px;

  input {
   appearance: none;
   background-color: $color-white;
   border: 1px solid $color-grey-dark;
   border-radius: $border-radius7;
   cursor: pointer;
   flex-shrink: 0;
   height: 25px;
   margin: 0 10px 0 0;
   position: relative;
   width: 25px;

   &:checked::after {
    background-image: url( '../../assets/Checkmark.svg' );
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;

    content: "";
    height: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    }
   }
  }

  &--text {
   align-self: center;
   color: $color-grey;
   font-size: $font-size-9;
   line-height: $line-height-base * 0.78;
  }
 }
}