.t-advantages {
 background-color: $color-grey-light;
 padding: 100px 0;

 @include tablet {
  padding: 50px 0;
 }

 &__possessor {
  padding: 0 100px;

  @include tablet {
   padding: 0 15px;
  }
 }

 &__aside {
  align-items: flex-end;
  background-color: $color-white;
  border: 1px solid $color-grey-border;
  border-radius: $border-radius5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;

  @include tablet {
   align-items: center;
   flex-direction: column-reverse !important;
   padding: 0 20px !important;
  }
  
  &--device {
  // laptop 
  --accent-color: #{ $color-red };
   .t-advantages__picture {
    margin-bottom: 38px;
    margin-right: 117px;

    @include tablet {
     margin: 40px 0 0;
    }

    &::before {
     content: "";
     background-color: var( --accent-color );
     border-radius: $border-radius1;
     display: block;
     height: 180px;
     position: absolute;
     right: 0;
     transform: rotate(45deg);
     top: -40px;
     width: 180px;
     transition-timing-function: ease-out;
     transition-duration: 250ms;
     transform: rotate(45deg);
     transition-delay: 0.04s;
    
     @include tablet {
      height: 90px;
      right: -10px;
      top: -30px;
      width: 90px;
     }
    }

    &:hover::before {
     left: -0px;
     top: -35px;
     transform: scale(1.1,1.1);
     transition-delay: 0.04s;  
     transition-duration: 250ms;
     transition-timing-function: ease-out;
    } 
    
    &--img {
     background-image: url( '../../assets/Macbook.png' );
     background-repeat: no-repeat;
     background-size: contain;
     height: 218px;
     position: relative;
     width: 386px;
     z-index: 2;

     @include tablet {
      height: 109px;
      width: 192px;
     }
    }
   }
  }
  // mobile
  &--mobile {
   --accent-color: #{ $color-blue };
   flex-direction: row-reverse;
   padding: 0 20px 0 70px;
   
   .t-advantages__picture {
    
    @include tablet {
     margin-top: 30px;
    }

    &::before {
     content: "";
     background: var( --accent-color );
     border-radius: 50%;
     display: block;
     height: 320px;
     left: 0;
     position: absolute;
     top: -20px;
     width: 320px;

     @include tablet {
      height: 131px;
      top: -15px;
      width: 131px;
     }
    }
    
    &--img {
     background-image: url( '../../assets/iPhone.png' );
     background-repeat: no-repeat;
     background-size: contain;
     height: 328px;
     width: 426px;
     position: relative;
     z-index: 2;
     
     @include tablet {
      height: 135px;
      width: 175px;
     }
    }
   }
  }
   
   // trumpet
   &--trumpet {
    --accent-color: #{ $color-green };
    display: flex;
    justify-content: space-between;

    @include tablet {
     flex-direction: column;
    }

    > div {
     margin-bottom: 0;
    }
    
    .t-advantages__content {
     max-height: 370px;
     max-width: 620px;

     @include tablet {
      max-width: none;
     }

     .t-advantages__text {
      max-width: none;
     }
    }

    .t-advantages__picture {
     align-items: center;
     background-color: var(--accent-color);
     border-radius: $border-radius5;
     display: flex;
     justify-content: center;
     height: 370px;
     width: 440px;

     @include tablet {
      height: 195px;
      margin-left: 0;
      vertical-align: middle;
      width: auto;
     }

     &--img {
      background-image: url( '../../assets/Trumpet.png' );
      background-repeat: no-repeat;
      background-size: contain;
      height: 207px;
      position: relative;    
      width: 295px;
      
      @include tablet {
       margin-top: 55px
      }  
     }
    }
   }
   // &--content {
   //  max-width: none;
   // }
  }
  
  &__text {
   box-sizing: content-box;
   margin: 91px 36px;
   max-width: 416px;

   @include tablet {
    margin: 0;
    max-width: none;
   }
   
   .t-advantages__title {  
    margin-bottom: 30px;
   }

  .t-advantages__variety {
   line-height: $line-height-base;
 
   &--line {
    background-color: var( --accent-color );
    height: 4px;
    margin-top: 30px;
    transition-delay: 0.4s;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    width: 80px;
    
    @include tablet {
     display: none;
    }
   }
   
   &--line:hover {
    background-color: var( --accent-color );
    width: 80%;
   }
  }
  @include tablet {
   margin: 30px 0;
  }

 }
 .t-advantages__picture {
  position: relative;
  z-index: 2;
 }
}