.banner {
 // align-items: center;
 display: flex;
 justify-content: center;
 overflow: hidden;

 &__content {
  margin-top: 50px;
  padding-top: 50px;

  @include mobile {
   margin-top: 50px;
   padding-top: 50px;
  }
 }

  &__title {
   font-family: $font-raleway;
   font-size: $font-size-1;
   margin: 10px;
   padding: 10px;
  }

  &__text {
   // margin-top: 20px;
   // margin-bottom: 38px;
   margin: 10px;
   padding: 10px;

   @include mobile {
    padding: 0 70px;
  }
  }
}