.t-com {
 background-color: $color-grey-light;
 padding: 80px 0;

 @include tablet {
  padding: 30px 15px;
 }

 &__catalog {
  display: flex;
  margin: 50px auto 0;
  max-width: 865px;

  @include tablet {
   display: block;
  }
 }

 &__construct {
  margin-right: 20px;
  width: 50%;

  @include tablet {
   margin-right: 0;
   width: 100%;
  }
 }

 &__input,
 .t-set.select {
  background-color: $color-white;
  border: 1px solid $color-blue;
  border-radius: 6px;
  box-shadow: 0px 3px 6px $color-blue-shadow;
  color: $color-grey;
  font-size: 0.8125rem;
  line-height: 1em;
  margin-bottom: 20px;
  padding: 11px 20px;
  width: 100%;
 }
 
 &__input::placeholder {
    color: $color-grey;
 }

 &__select {
  position: relative;

  .t-set.select {
   cursor: pointer;
   height: 40px;
   padding: 13px 20px;
   position: relative;
   vertical-align: middle;

   &::after {
    content: "";
    background-image: url("../assets/Arrow.svg");
    display: block;
    height: 22px;
    right: 14px;
    position: absolute;
    top: 9px;
    width: 22px;
   }
  }

  .menu-explication {
   background-color: $color-white;
   border: 1px solid $color-red;
   border-radius: $border-radius7;
   display: none;
   overflow: hidden;
   position: absolute;
   width: 100%;
   z-index: 1;

   li {
    cursor: pointer;
    font-size: $font-size-9;
    padding: 10px 20px;

    &:hover {
     background-color: $color-grey-light;
    }
   }
  }

  &.open {
   
   .menu-explication {
    display: block;
   }
   .t-set.select::after {
    transform: rotate(180deg);
   }
  }
 }

 &__compute {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 50%;

  @include tablet {
   margin-left: 0;
   margin-top: 30px;
   width: 100%;
  }

  .t-com__total,
  .t-com.list {
   align-items: center;
   border-radius: 6px;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
   color: $color-white;
   display: none;
   font-size: 0.875rem;
   justify-content: space-between;

   &.open {
    display: flex;
   }
  }

  .t-com__total {
   align-self: flex-end;
   background-color: $color-blue;
   margin-top: 22px;
   padding: 8px 20px;
   width: 50%;

   .t-com__final-price {
    font-size: 1.25rem;
    font-weight: 700;
   }
  }

  .t-com.list {
   background-color: $color-green;
   margin-bottom: 8px;
   padding: 6px 20px;
   
   .t-file ~ .price {
     font-size: 1.125rem;
     font-weight: 700;
   }
  }
 }
}