.t-pricing {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-bottom: 100px;
 margin-top: 100px;


 @include tablet {
  margin-bottom: 50px;
  margin-top: 50px;
 }

 &__packets {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @include tablet {
   flex-direction: column;
   width: 100%;
  }
 }

 &__packet {
  align-items: center;
  border: 1px solid var( --accent-color );
  border-radius: $border-radius4;
  display: flex;
  flex-direction: column;
  width: 372px;

  @include tablet {
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 375px;
   margin-bottom: 54px;
   padding: 25px 10px 0 10px;
   width: 100%;

   &:last-child {
    margin-bottom: 0;
   }
  }
  
   &--basic {
    --accent-color: #{ $color-red };
   
    .t-pricing__cost {
     margin-bottom: 30px;

     @include tablet {
      margin-bottom: 0;
     }
    }
   }

   &--professional {
    --accent-color: #{ $color-blue };
    box-shadow: 5px 10px 27px $color-blue-shadow;
    margin: 0 40px;
    width: 405px;

    @include tablet {
     margin-bottom: 50px;
     max-width: 405px;
     width: 100%;
    }

    .t-pricing {
     &__set {
      font-size: $font-size-6;
     }
     
     &__unit {
      margin-bottom: 25px;
     }
    }
   }

   &--premium {
    --accent-color: #{ $color-green };
  }
 }

 &__params {
  margin-bottom: 61px;
  margin-top: 34px;

  @include tablet {
   margin: 0;
   width: 50%;
  }
 }
 
 &__set {
  font-family: $font-raleway;
  font-size: $font-size-4;
  font-weight: 700;
 }
 
 &__cost {
  color: var( --accent-color );
  font-family: $font-open-sans;
  font-size: $font-size-5;
  font-weight: 300;
  margin-top: 25px;
 }

 &__moderate {
  font-family: $font-raleway;
  font-size: $font-size-8;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
 }

 &__units {
  text-align: center;

  @include tablet {
   text-align: left;
   width: 50%;
  }
 }

 &__unit {
  font-size: $font-size-8;
  margin-bottom: 20px;

  @include tablet {
   &:last-child {
    margin-bottom: 0;
   }
  }

  &::before {
   background-image: url( '../../assets/Checkmark-1.svg' );
   content: "";
   display: inline-block;
   height: 11px;
   margin-right: 10px;
   width: 11px;
  }

  &--no::before {
   background-image: url( '../../assets/Close.svg' );
  }
 }
}